<h2 *ngIf="errorMessage">{{errorMessage}}</h2> 
<div id="plethora-map-feature-wrapper">
	<autocomplete
		[data]="featureOptionsForAutocomplete"
		[placeholder]="lang.selectFeaturePlaceholder"
		[title]="lang.selectFeaturePlaceholder"
		[query]="query"
		[selectedItem]="selectedItem"
		[clearButtonLabel]="lang.clearButtonLabel"
		[noResultsMessage]="lang.autocompleteNoResultsMessage"
		[noResultsMessageMobile]="lang.autocompleteNoResultsMessageMobile"
		[autoFocus]="true"
		[submitButtonLabel]="lang.submitButtonLabel"
		(valueChange)="autocompleteValueChange($event)"
		(clearEvent)="autocompleteCleared($event)"
		></autocomplete>
	<p class="autocomplete-instructions" *ngIf="autocompleteInstructions && !query">
		{{autocompleteInstructions}}
	</p>
	<div class="default-info">Loading..</div>
	<router-outlet></router-outlet> </div>
	<div id="plethora-map-container"></div>
	<div id="plethora-map-debug" *ngIf="debug">
	  <dl><dt>translateX:</dt><dd>{{ translateX }}</dd></dl>
	  <dl><dt>translateY:</dt><dd>{{ translateY }}</dd></dl>
	  <dl><dt>scale:</dt><dd>{{ scale }}</dd></dl>
	</div>
	<div id="plethora-map-hide-on-mobile"></div>
</div>