#maincontainer{
    clear: both;
}
#block-searchpublications{
  padding-bottom:0;
  p{
    margin:0;
  }
}
body:not(.context-resources) #main, 
.context-resources #block-pagetitle, 
.context-resources #block-kyanite-content, 
.context-resources #block-kyanite-local-tasks, 
.context-resources #block-views-block-resources-block-1 > div,
.context-resources #block-views-block-resources-block-2 > div,
#block-searchpublications,
.bottomfullwidth > div,
.bottom{
  .layout-content > div{
    position: relative;
  }
	/*@include clearfix();*/
	padding-top: 1em;
	padding-bottom: 1em;
  @media (min-width: $bp-mobile-max){

  }
  @media (min-width: $bp-tablet-min){
    max-width: 95%;
  }
  @media (min-width: $bp-desktop-min){
    max-width: 70%;
  }
  margin-left: auto;
  margin-right: auto;
/*    min-height: Calc(100vh - 331px); //magic numbers are no good... but this at least gets it to look good in desktop with light content.  331px should ideally be the header + footer height.  That's ok though, we have a JS solution for this
    min-height: 2262px; */
    transition: background-color $global-color-scheme-change-duration, color $global-color-scheme-change-duration;    
    @media (max-width: $bp-mobile-max){
    	padding-left: 1em;
    	padding-right: 1em;
    }
}
.context-resources #block-pagetitle, .context-resources #block-kyanite-local-tasks{
  padding-bottom: 0;
}
.context-resources #block-pagetitle h1{
  text-align: center;
}
body:not(.path-frontpage){
    #main{
        margin:0 auto;
        
        $curbp: 1200px;
        $curfont: 100%;
        $boxscale: 1.2;

        input[type=checkbox],
        input[type=radio]
        {
            margin: 1em;
        }
        font-size: 1em;
    }
}
body.color-scheme-dark{
	#maincontainer {
		background-color: $global-color-main-bg-dark;
	}
}
body.has-background-image {
	#maincontainer {
		background: none;
	}
}