#block-views-block-author-block-1{
	.kyanite-views-row-inner{
		.views-field-field-headshot{
			display: block;
			float: left;
			margin-right: 2em;
			margin-bottom: 2em;
			img{
				display: block;
			}
		}
	}
}