.path-frontpage #maincontainer #main #block-views-block-updates-block-1, 
.path-frontpage #maincontainer #main .layout-content-bottom-66-33{
	background-color: #e6f7f9;
}
.path-frontpage #maincontainer #main #block-views-block-updates-block-1, .bottomfullwidth{
	border-top: 1px solid #b6d5d8;
	border-bottom: 1px solid #b6d5d8;
}

.path-updates{
	#headerborder{
		margin-bottom: 0;
	}
	#maincontainer{
		background-color: #e6f7f9;
		#main{
			margin-top: 0;
		}
	}
}
.context-resources{
	#block-views-block-resources-block-1, #block-views-block-resources-block-2{
		background-color: #e6f7f9;
		border-top: 1px solid #b6d5d8;
		border-bottom: 1px solid #b6d5d8;
	}
	#block-views-block-resources-block-2{
		border-top: 10px solid #ccc;
	}
}