// this was just a test of susy...
#block-kyanite-tools {
	> ul {
	  	@include container(80em);
	  	padding: 0;
		> li {
			list-style-type: none;
			box-sizing: border-box;
			border: 1px solid transparent;
		}
		// based on the number of total children, you can apply different styles: 
		// http://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
		@for $i from 2 through 10 {
			$cols : ceil($i/2);
			//li {
			//	cols: $cols;
			//}
		  > li:first-child:nth-last-child(#{$i}),
		  > li:first-child:nth-last-child(#{$i}) ~ li {
			@include span(1 of $cols);
		    //width: #{100%/$i};


			&:nth-child(#{$cols}n) { 
				@include omega; 
		        border: 1px solid blue;
	    	}
			
			&:nth-child(#{$cols}n+1) { 
				@include alpha; 
		        border: 1px solid red;
	    	}
		  } 
		} 

	}
}