#countdown-event-clock-holder {
    text-align: center;
}
.path-frontpage #countdown-event-clock-holder p{
  font-size: 2em;
  #label_msg{
    display:block;
    padding-bottom:.5em;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  }
}
