.path-publications #block-simplesocialiconsblock, .path-speeches #block-simplesocialiconsblock{
	position: absolute;
	padding: 3vw;
}
#block-simplesocialiconsblock{
	z-index: 4;
	position: relative;
	top: .25em;
	margin-left: .25em;
	ul.soc{
		display: inline-block;
		margin:0 auto;
		li{
			margin-right: .25em;
			a{
				width:25px;
				height:25px;
				line-height: 25px;
				font-size: 14px;
				@include radius(50%);
				&.soc-twitter{
					background-color:#1da1f2!important;
				}
				&.soc-linkedin{
					background-color:#0076b5!important;
				}
				&.soc-facebook{
					background-color:#3d5a9b!important;
				}
				&.soc-google{
					background-color:#db4437!important;
				}
			}
		}
	}
	@media (max-width: 767px){
		display: none;
	}
}