/* No files to import found in library/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/Library\/lib\/ruby\/gems\/2\.3\.0\/gems\/susy-2\.2\.14\/sass\/susy\/language\/susy\/_box-sizing\.scss}line{font-family:\0000321}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
$global-header-padding-top-mobile-scrolled-down: 0; //must be pixels to allow for adjustments for the explore menu top...
$global-header-padding-bottom-mobile-scrolled-down: $global-header-padding-top-mobile-scrolled-down; // should probably just match the top padding...
$global-header-padding-top-tablet-scrolled-down: 0; //must be pixels to allow for adjustments for the explore menu top...
$global-header-padding-bottom-tablet-scrolled-down: $global-header-padding-top-tablet-scrolled-down; // should probably just match the top padding...
$global-header-padding-top-desktop-scrolled-down: 0; //must be pixels to allow for adjustments for the explore menu top...
$global-header-padding-bottom-desktop-scrolled-down: $global-header-padding-top-desktop-scrolled-down; // should probably just match the top padding...
$global-header-padding-top-big-scrolled-down: 0;
$global-header-padding-bottom-big-scrolled-down: $global-header-padding-top-big-scrolled-down; // should probably just match the top padding...
*/
/**
 * @file
 * Kyanite layout styling.
 */
/**
 * Container
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000310}}
footer.site-footer > *, .layout-highlighted2 {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/Library\/lib\/ruby\/gems\/2\.3\.0\/gems\/susy-2\.2\.14\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
footer.site-footer > *:after, .layout-highlighted2:after {
  content: " ";
  display: block;
  clear: both;
}
@media all and (min-width: 851px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000310}}
  footer.site-footer > *, .layout-highlighted2 {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/Library\/lib\/ruby\/gems\/2\.3\.0\/gems\/susy-2\.2\.14\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  footer.site-footer > *:after, .layout-highlighted2:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000318}}
  #header {
    padding-left: 2%;
    padding-right: 2%;
    transition: padding-left 0.5s, padding-right 0.5s;
  }
}
/*body.no-sidebars .layout-container .layout-content, body.has-sidebar .layout-container .layout-content.fullwidth{
	padding-left: 1em;
	padding-right: 1em;
}*/
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000332}}
  body.has-sidebar #main {
    display: flex;
    justify-content: space-between;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000339}}
  body.has-sidebar .layout-content {
    width: 74%;
    padding-right: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000344}}
  body.has-sidebar .layout-content.fullwidth {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000350}}
  body.has-sidebar .layout-sidebar {
    width: 22%;
    padding-left: 15px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000355}}
  body.ready .layout-fixed-header::before {
    width: 100%;
    opacity: 1;
  }
}
/**
 * Main
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000363}}
.layout-main-wrapper {
  min-height: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000366}}
.layout-main {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000372}}
body.has-background-image .layout-highlighted {
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000376}}
.layout-highlighted > * {
  opacity: 0;
  transition: opacity 0.5s 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000380}}
body.ready .layout-highlighted > * {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000383}}
.field-field-tags .field-item {
  display: inline-block;
  margin-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000387}}
.clr {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000390}}
.node--unpublished {
  background-color: #ff9999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\0000391}}
.node--unpublished:before {
  content: "UNPUBLISHED (NOT PUBLIC!):";
  font-size: 2em;
  font-weight: bold;
  padding: .5em 1em;
  background-color: #ff9999;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003102}}
#toolbar-bar {
  z-index: 11000;
}

@media (max-width: 699px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003108}}
  .layout-content-66-33 > div > div {
    padding-top: 0;
    margin-top: 4.5%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003111}}
  .layout-content-66-33 > div > div#block-views-block-events-home {
    margin-top: 9%;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003106}}
  .layout-content-66-33 > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003121}}
.layout-content-66-33 > div > div {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  /*usage:
  @include boxshadow(0px,1px,2px,rgba(green,0.4));
  or:
  @include boxshadow();
  */
  transition: box-shadow 0.3s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/_init\.scss}line{font-family:\0000342}}
.layout-content-66-33 > div > div:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  /*usage:
  @include boxshadow(0px,1px,2px,rgba(green,0.4));
  or:
  @include boxshadow();
  */
}
@media (min-width: 700px) and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003124}}
  .layout-content-66-33 > div > div:nth-child(odd) {
    width: 47.5%;
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003124}}
  .layout-content-66-33 > div > div:nth-child(odd) {
    width: 74%;
  }
}
@media (min-width: 700px) and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003132}}
  .layout-content-66-33 > div > div:nth-child(even) {
    width: 47.5%;
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003132}}
  .layout-content-66-33 > div > div:nth-child(even) {
    width: 22%;
  }
}

@media (max-width: 699px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003144}}
  .layout-content-bottom-66-33 > div > div {
    padding-top: 0;
    margin-top: 4.5%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003147}}
  .layout-content-bottom-66-33 > div > div#block-views-block-events-home {
    margin-top: 9%;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003142}}
  .layout-content-bottom-66-33 > div {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003157}}
  .layout-content-bottom-66-33 > div > div:nth-child(odd) {
    width: 47%;
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003157}}
  .layout-content-bottom-66-33 > div > div:nth-child(odd) {
    width: 55%;
  }
}
@media (min-width: 700px) and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003165}}
  .layout-content-bottom-66-33 > div > div:nth-child(even) {
    width: 47%;
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003165}}
  .layout-content-bottom-66-33 > div > div:nth-child(even) {
    width: 41%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_general\.scss}line{font-family:\00003175}}
#block-twitter .field-body {
  height: 200px;
  overflow: scroll;
  padding-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\000031}}
.layout-container {
  position: relative;
  background-color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\000035}}
#header {
  transition: padding-top 0.5s, padding-bottom 0.5s;
  background-color: #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 699px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000311}}
  #header .contextual {
    display: none !important;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\000035}}
  #header {
    display: block;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\000035}}
  #header {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 80%;
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\000035}}
  #header {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 87%;
  }
}
@media (min-width: 1400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\000035}}
  #header {
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 88%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000337}}
#header > .region-header img {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000340}}
#header > .region-header .explore-button-spacer {
  display: none;
}
@media (max-width: 460px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000345}}
  #header > .region-header .langswitcherblock {
    display: none;
  }
}
@media (max-width: 699px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000351}}
  #header > .region-header .langswitcherblock {
    position: absolute;
    top: 1em;
    right: 25vw;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000336}}
  #header > .region-header {
    display: flex;
    flex-direction: row;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000360}}
  #header > .region-header > div {
    display: flex;
    vertical-align: top;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000363}}
  #header > .region-header > div:nth-child(2) {
    flex-grow: 1;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000371}}
  #header > .region-header > #block-logo {
    width: 50%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000374}}
  #header > .region-header > .search-block-form {
    /*@media (min-width: $bp-desktop-big-min){
    	font-size: 1vw; 
    }*/
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000382}}
#header p {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000388}}
body.divisionsite #header {
  width: 100% !important;
  /* because the division sites have no explore menu */
  padding-bottom: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000391}}
body.divisionsite #header > .region-header > div:nth-child(2) {
  padding-right: 0;
  justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\0000399}}
#toolbar-administration #toolbar-bar {
  transition: all 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003102}}
body {
  transition: padding-top 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003108}}
#fixed-header {
  position: relative;
  z-index: 4;
  background: #FFF;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003113}}
#fixed-header .show-if-fixed {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003117}}
body.divisionsite #fixed-header, body.divisionsite #fixed-header-anchor {
  width: 100% !important;
  text-align: center;
}
@media (max-width: 699px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003117}}
  body.divisionsite #fixed-header, body.divisionsite #fixed-header-anchor {
    display: block !important;
    position: absolute;
    top: 1em;
    right: 1em;
    background: transparent;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003126}}
  body.divisionsite #fixed-header .layout-fixed-header, body.divisionsite #fixed-header-anchor .layout-fixed-header {
    display: inline-block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003129}}
  body.divisionsite #fixed-header .layout-fixed-header .sf-accordion-toggle > a, body.divisionsite #fixed-header-anchor .layout-fixed-header .sf-accordion-toggle > a {
    background: none;
    border: none;
    color: #333;
    float: right;
    font-size: 1.5em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003135}}
  body.divisionsite #fixed-header .layout-fixed-header .sf-accordion-toggle > a.sf-expanded, body.divisionsite #fixed-header-anchor .layout-fixed-header .sf-accordion-toggle > a.sf-expanded {
    color: #1db4c4;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003138}}
  body.divisionsite #fixed-header .layout-fixed-header .sf-accordion-toggle > a::after, body.divisionsite #fixed-header-anchor .layout-fixed-header .sf-accordion-toggle > a::after {
    right: -.05em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003144}}
  body.divisionsite #fixed-header .superfishdropdown, body.divisionsite #fixed-header-anchor .superfishdropdown {
    font-size: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003146}}
  body.divisionsite #fixed-header .superfishdropdown .sf-accordion, body.divisionsite #fixed-header-anchor .superfishdropdown .sf-accordion {
    background: #eee;
    text-align: left;
    font-size: .5em;
    width: 20em;
    max-width: 100%;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003117}}
  body.divisionsite #fixed-header, body.divisionsite #fixed-header-anchor {
    padding-right: 2%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003160}}
#fixed-header.fixed {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 9999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003165}}
#fixed-header.fixed .show-if-fixed {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003169}}
.superfishdropdown {
  display: none;
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003169}}
  .superfishdropdown {
    display: block;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003175}}
#fixed-header, #fixed-header-anchor {
  display: none;
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003175}}
  #fixed-header, #fixed-header-anchor {
    display: block;
    text-align: right;
    background: transparent;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003181}}
  body:not(.fixed-header-is-fixed) #fixed-header, body:not(.fixed-header-is-fixed) #fixed-header-anchor {
    width: auto;
    float: right;
    margin-right: 1rem;
    margin-right: calc(1rem - .3em);
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003189}}
  body:not(.fixed-header-is-fixed) #fixed-header, body:not(.fixed-header-is-fixed) #fixed-header-anchor {
    margin-top: -1.8em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003194}}
div#fixed-header {
  /*
  &.fixed {
  	@media (min-width: $bp-desktop-min){
  		font-size: 90%;
  	}
  }*/
}
@media (min-width: 700px) and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003194}}
  div#fixed-header {
    font-size: 80%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003205}}
.layout-fixed-header {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003207}}
body.fixed-header-is-fixed .layout-fixed-header {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003210}}
.layout-fixed-header .layout-fixed-header-content {
  display: block;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003213}}
body.fixed-header-is-fixed .layout-fixed-header .layout-fixed-header-content {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003215}}
body.fixed-header-is-fixed .layout-fixed-header .layout-fixed-header-content .layout-fixed-header-left {
  flex-grow: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003220}}
.layout-fixed-header .layout-fixed-header-content .layout-fixed-header-right > * {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003223}}
.layout-fixed-header .layout-fixed-header-content .layout-fixed-header-left {
  overflow: hidden;
  *zoom: 1;
  padding-left: .5em;
  padding-right: 2vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003227}}
.layout-fixed-header .layout-fixed-header-content .layout-fixed-header-left > * {
  float: left;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003232}}
.layout-fixed-header .layout-fixed-header-content .layout-fixed-header-right {
  overflow: hidden;
  *zoom: 1;
  padding-left: 1vw;
  padding-right: 1vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003236}}
.layout-fixed-header .layout-fixed-header-content .layout-fixed-header-right > * {
  float: right;
}

@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003244}}
  .fixed-header #header {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003249}}
.scrolled-down, .fixed-header {
  padding-top: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003256}}
.scrolled-down #toolbar-administration #toolbar-bar, .fixed-header #toolbar-administration #toolbar-bar {
  transform: scaleY(0);
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003265}}
.fixed-header-is-fixed .layout-primary-menu, .fixed-header .layout-primary-menu {
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003268}}
.fixed-header-is-fixed #fixed-header, .fixed-header #fixed-header {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 20px #888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003276}}
.fixed-header.skinny-fixed-header .layout-highlighted {
  border-bottom-width: 1px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003279}}
.fixed-header.skinny-fixed-header #fixed-header {
  font-size: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003282}}
.fixed-header.skinny-fixed-header #fixed-header #logo-fixed img {
  height: auto;
  width: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: none;
}
@media (min-width: 1400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003282}}
  .fixed-header.skinny-fixed-header #fixed-header #logo-fixed img {
    width: 3vw;
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003296}}
.fixed-header.skinny-fixed-header #fixed-header .explore-button-fixed {
  margin-top: 13px;
}
@media (min-width: 1400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003296}}
  .fixed-header.skinny-fixed-header #fixed-header .explore-button-fixed {
    margin-top: 0.2vw;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003307}}
body.color-scheme-dark .layout-container {
  background-color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003311}}
body.color-scheme-dark.scrolled-down .layout-container, body.color-scheme-dark.fixed-header .layout-container {
  background: rgba(255, 255, 255, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003317}}
body.has-background-image .layout-container {
  background: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003321}}
body.has-background-image.scrolled-down .layout-container, body.has-background-image.fixed-header .layout-container {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003327}}
.frieze .spcgrid > .item-list > ul > li {
  margin-bottom: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003331}}
#headerborder {
  height: 10px;
  background-color: #eee;
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_header\.scss}line{font-family:\00003339}}
.path-frontpage #headerborder {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\000031}}
#maincontainer {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\000034}}
body:not(.context-resources) #main,
.context-resources #block-pagetitle,
.context-resources #block-kyanite-content,
.context-resources #block-kyanite-local-tasks,
.context-resources #block-views-block-resources-block-1 > div,
.context-resources #block-views-block-resources-block-2 > div,
.bottomfullwidth > div,
.bottom {
  overflow: hidden;
  *zoom: 1;
  padding-top: 1em;
  padding-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  /*    min-height: Calc(100vh - 331px); //magic numbers are no good... but this at least gets it to look good in desktop with light content.  331px should ideally be the header + footer height.  That's ok though, we have a JS solution for this
      min-height: 2262px; */
  transition: background-color 0.5s, color 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\0000312}}
body:not(.context-resources) #main .layout-content > div,
.context-resources #block-pagetitle .layout-content > div,
.context-resources #block-kyanite-content .layout-content > div,
.context-resources #block-kyanite-local-tasks .layout-content > div,
.context-resources #block-views-block-resources-block-1 > div .layout-content > div,
.context-resources #block-views-block-resources-block-2 > div .layout-content > div,
.bottomfullwidth > div .layout-content > div,
.bottom .layout-content > div {
  position: relative;
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\000034}}
  body:not(.context-resources) #main,
  .context-resources #block-pagetitle,
  .context-resources #block-kyanite-content,
  .context-resources #block-kyanite-local-tasks,
  .context-resources #block-views-block-resources-block-1 > div,
  .context-resources #block-views-block-resources-block-2 > div,
  .bottomfullwidth > div,
  .bottom {
    max-width: 95%;
  }
}
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\000034}}
  body:not(.context-resources) #main,
  .context-resources #block-pagetitle,
  .context-resources #block-kyanite-content,
  .context-resources #block-kyanite-local-tasks,
  .context-resources #block-views-block-resources-block-1 > div,
  .context-resources #block-views-block-resources-block-2 > div,
  .bottomfullwidth > div,
  .bottom {
    max-width: 70%;
  }
}
@media (max-width: 699px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\000034}}
  body:not(.context-resources) #main,
  .context-resources #block-pagetitle,
  .context-resources #block-kyanite-content,
  .context-resources #block-kyanite-local-tasks,
  .context-resources #block-views-block-resources-block-1 > div,
  .context-resources #block-views-block-resources-block-2 > div,
  .bottomfullwidth > div,
  .bottom {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\0000338}}
body:not(.path-frontpage) #main {
  margin: 0 auto;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\0000345}}
body:not(.path-frontpage) #main input[type=checkbox],
body:not(.path-frontpage) #main input[type=radio] {
  margin: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\0000354}}
body.color-scheme-dark #maincontainer {
  background-color: #0a0a0a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/layout\/_main\.scss}line{font-family:\0000359}}
body.has-background-image #maincontainer {
  background: none;
}

/*
* {
  margin: 0;
}
html, body {
  height: 100%;
}
@media all and (min-width: $bp-desktop-min){
	.layout-container {
	  min-height: 100%;
	  // equal to footer height 
	  margin-bottom: -$global-desktop-footer-height; 
	}
	.layout-container:after {
	  content: "";
	  display: block;
	}
	.site-footer, .layout-container:after {
	  height: $global-desktop-footer-height; 
	}

}
*/
