/* No files to import found in library/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/Library\/lib\/ruby\/gems\/2\.3\.0\/gems\/susy-2\.2\.14\/sass\/susy\/language\/susy\/_box-sizing\.scss}line{font-family:\0000321}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
$global-header-padding-top-mobile-scrolled-down: 0; //must be pixels to allow for adjustments for the explore menu top...
$global-header-padding-bottom-mobile-scrolled-down: $global-header-padding-top-mobile-scrolled-down; // should probably just match the top padding...
$global-header-padding-top-tablet-scrolled-down: 0; //must be pixels to allow for adjustments for the explore menu top...
$global-header-padding-bottom-tablet-scrolled-down: $global-header-padding-top-tablet-scrolled-down; // should probably just match the top padding...
$global-header-padding-top-desktop-scrolled-down: 0; //must be pixels to allow for adjustments for the explore menu top...
$global-header-padding-bottom-desktop-scrolled-down: $global-header-padding-top-desktop-scrolled-down; // should probably just match the top padding...
$global-header-padding-top-big-scrolled-down: 0;
$global-header-padding-bottom-big-scrolled-down: $global-header-padding-top-big-scrolled-down; // should probably just match the top padding...
*/
/**
 * @file
 * Overall specifications for kyanite.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\000036}}
html {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\000039}}
body {
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 100%;
  margin: 0;
  background-color: #FFF;
  color: #3b3b3b;
  transition: color 0.5s, background-color 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000319}}
body {
  font-family: "PT Sans", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000322}}
body::before {
  content: " ";
  height: 3px;
  width: 100%;
  display: block;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: #1db4c4;
  transition: all 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000334}}
body.scrolled-down::before, body.fixed-header::before {
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000340}}
*, *:before, *:after {
  /* override these since the zero values from susy are not great */
  padding: initial;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000343}}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000347}}
a,
a.link {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000353}}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000364}}
h1 a,
h2 a,
.toolbar a,
a.feed-icon {
  border-bottom: none;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000375}}
h1,
.heading-a {
  margin: 0 0 0.5em;
  font-weight: 700;
  /*font-size: 1.357em;*/
  font-family: 'PT Sans', sans-serif;
  color: #333;
}
@media (max-width: 699px) and (orientation: portrait) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000375}}
  h1,
  .heading-a {
    font-size: 1.6em;
  }
}
@media (max-width: 699px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000375}}
  h1,
  .heading-a {
    font-size: 1.6em;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000375}}
  h1,
  .heading-a {
    font-size: 1.6em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000392}}
h1 .field-item-label,
.heading-a .field-item-label {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\0000396}}
h2,
.heading-b {
  margin: 1.0em 0 0.5em;
  font-weight: bold;
  /*font-size: 1.143em;*/
  font-size: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003103}}
h3,
.heading-c {
  margin: 1.0em 0 0.5em;
  font-weight: bold;
  /*font-size: 1.092em;*/
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003110}}
h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: bold;
  font-size: 1.05em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003116}}
h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: bold;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003124}}
h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: bold;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003133}}
del {
  text-decoration: line-through;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003138}}
.feed-icon {
  display: inline-block;
  margin-top: 3em;
  background-color: #666;
  color: #fff;
  padding: .25em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003144}}
.feed-icon:hover {
  color: #fff;
  background-color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003149}}
img {
  max-width: 100%;
  height: auto;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003154}}
#block-kyanite-kyanite-system-main {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003157}}
#block-kyanite-kyanite-system-main ul, #block-kyanite-kyanite-system-main ol {
  margin: 0;
  padding: 0 1em 1.2em;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003160}}
#block-kyanite-kyanite-system-main ul li, #block-kyanite-kyanite-system-main ol li {
  margin-bottom: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003166}}
.paragraph__column .field-type-text-with-summary li, .paragraph__column .field-type-text-long li {
  list-style-position: inside;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003172}}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003176}}
#block-kyanite-kyanite-system-main ol ol,
#block-kyanite-kyanite-system-mainul ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003181}}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003187}}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #9f9f9f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003192}}
input[type=search]:hover, input[type=search]:focus, input[type=search]:active {
  border-color: #1db4c4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003196}}
body.color-scheme-dark {
  background-color: #000;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003200}}
body.color-scheme-dark::before {
  border-top-color: #CCC;
  border-bottom-color: #CCC;
  background: #069;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003205}}
body.color-scheme-dark blockquote {
  background: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003208}}
body.color-scheme-dark blockquote:before {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003212}}
body.color-scheme-dark input[type=search] {
  border-color: #9f9f9f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003214}}
body.color-scheme-dark input[type=search]:hover, body.color-scheme-dark input[type=search]:focus, body.color-scheme-dark input[type=search]:active {
  border-color: #069;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003221}}
body.color-scheme-dark.has-background-image blockquote {
  background: rgba(100, 100, 100, 0.8);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003228}}
#main .node--view-mode-full {
  font-size: .9em;
  /* the content font size should be slightly smaller */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003231}}
.field-body {
  padding-bottom: 2em;
}
@media (max-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003233}}
  .field-body img[style*="float:left"], .field-body img[style*="float: left"] {
    float: none !important;
    display: block;
    margin: auto;
  }
}
@media (min-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003233}}
  .field-body img[style*="float:left"], .field-body img[style*="float: left"] {
    margin-right: 2em;
    margin-bottom: 2em;
  }
}
@media (max-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003244}}
  .field-body img[style*="float:right"], .field-body img[style*="float: right"] {
    float: none !important;
    display: block;
    margin: auto;
  }
}
@media (min-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003244}}
  .field-body img[style*="float:right"], .field-body img[style*="float: right"] {
    margin-left: 2em;
    margin-bottom: 2em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003256}}
.kyanite-views-rows p.read-more a, a.read-more {
  display: inline-block;
  background-color: #1db4c4;
  color: #fff;
  padding: .5em 2em;
  margin-top: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003265}}
.kyanite-views-rows p.read-more a:hover, .kyanite-views-rows p.read-more a:active, .kyanite-views-rows p.read-more a:focus, a.read-more:hover, a.read-more:active, a.read-more:focus {
  color: #fff !important;
  background-color: #069;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003271}}
.kyanite-autosubmit-view .views-exposed-form {
  margin-bottom: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003273}}
.kyanite-autosubmit-view .views-exposed-form .form-item {
  margin-bottom: 1em;
}
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003273}}
  .kyanite-autosubmit-view .views-exposed-form .form-item {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
                   /*
&.form-item-keys{
  max-width: 640px;
  margin: auto;
}*/
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003284}}
.kyanite-autosubmit-view .views-exposed-form .form-item input, .kyanite-autosubmit-view .views-exposed-form .form-item select {
  width: 100%;
}
@media (max-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003284}}
  .kyanite-autosubmit-view .views-exposed-form .form-item input, .kyanite-autosubmit-view .views-exposed-form .form-item select {
    font-size: 1em;
  }
}
@media (min-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003284}}
  .kyanite-autosubmit-view .views-exposed-form .form-item input, .kyanite-autosubmit-view .views-exposed-form .form-item select {
    font-size: 1.5em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003294}}
.kyanite-autosubmit-view .views-exposed-form .form-item-keys label, .kyanite-autosubmit-view .views-exposed-form .form-item-title label, .kyanite-autosubmit-view .views-exposed-form .form-item-combine label {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003297}}
.kyanite-autosubmit-view .views-exposed-form .form-actions {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003302}}
.kyaniteymdpostdate {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003305}}
.field-node-post-date, .field-field-event-date, .field-field-end-date {
  /*the date as shown on many nodes*/
  margin: 1em 0;
  color: #999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003309}}
.ds-2col {
  /*default 2-column DS styling*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003310}}
.ds-2col > .group-left, .ds-2col > .group-right {
  display: block;
  position: relative;
}
@media (max-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003310}}
  .ds-2col > .group-left, .ds-2col > .group-right {
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003318}}
.kyanite-block .contextual {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003321}}
.taggedas {
  margin-top: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003323}}
.taggedas > span {
  margin-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003326}}
.taggedas > div {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003328}}
.taggedas > div .field-items {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003330}}
.taggedas > div .field-items .field-item {
  display: inline;
  margin-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003337}}
td {
  vertical-align: top;
  padding: .2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003342}}
#block-kyanite-content #flexslider-1 {
  margin-bottom: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003347}}
.page-node-type-blog .first-bottom-tag-block, .page-node-type-news .first-bottom-tag-block {
  padding-top: 1em;
  border-top: 2px solid #ccc;
  margin-top: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003353}}
.path-publications .layout-highlighted, .path-blog .layout-highlighted, .path-events .layout-highlighted, .path-news .layout-highlighted, .path-speeches .layout-highlighted, .field-field-banner, .field-field-newsimage .flexslider, .layout-highlighted .field-field-banner, .layout-highlighted .field-field-newsimage, #maincontainer > .field-field-banner, #maincontainer > .field-field-newsimage {
  border-bottom: 4px solid #1db4c4 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003356}}
.blockquote-icon {
  background-image: url("/themes/custom/kyanite/images/quote-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  display: block;
  position: absolute;
  top: -20px;
  width: 100%;
  left: 0;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003369}}
blockquote, .et_pb_testimonial {
  background: #f2f2f2;
  padding: 3em;
  padding-bottom: 2em;
  margin: 3em 2em;
  position: relative;
  overflow: visible;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003378}}
blockquote > p:first-child {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003381}}
.paragraph--type--bp-simple blockquote {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003386}}
.page-node-type-blog ol.commentlist li.comment.bypostauthor, .page-node-type-news ol.commentlist li.comment.bypostauthor {
  border-left-color: #13b5ea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003389}}
.page-node-type-blog .wp-caption.alignleft, .page-node-type-blog .wp-caption.alignright, .page-node-type-blog .wp-caption.aligncenter, .page-node-type-news .wp-caption.alignleft, .page-node-type-news .wp-caption.alignright, .page-node-type-news .wp-caption.aligncenter {
  padding: 0.5em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003394}}
.page-node-type-blog .alignright, .page-node-type-news .alignright {
  float: right;
  margin: 7.5px 0 15px 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003398}}
.page-node-type-blog .alignleft, .page-node-type-blog .alignright, .page-node-type-blog .aligncenter, .page-node-type-news .alignleft, .page-node-type-news .alignright, .page-node-type-news .aligncenter {
  display: block;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003405}}
figure {
  margin: 0;
  padding: 0;
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003409}}
figure figcaption {
  display: table-caption;
  caption-side: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003414}}
.wp-caption, figure.image {
  background: transparent !important;
  padding: 0;
  text-align: center;
  max-width: 100%;
  margin: 0 0 30px 0;
  clear: both;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003424}}
.wp-caption img, figure.image img {
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003427}}
.wp-caption .wp-caption-text, .wp-caption figcaption, figure.image .wp-caption-text, figure.image figcaption {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #666666;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003435}}
#block-kyanite-kyanite-system-main .field-field-banner-sub-caption {
  /*hide initially since it gets moved to after the banner witj JS*/
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003438}}
.field-field-banner-sub-caption {
  background-color: #f8f8f9;
  z-index: 3;
  text-align: center;
  padding: .5em;
  font-size: .8em;
  color: #999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003446}}
.authornamefield {
  margin-bottom: 1em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003450}}
.field-field-wg-icon {
  max-width: 325px;
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003450}}
  .field-field-wg-icon {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003454}}
  .field-field-wg-icon img {
    display: inline-block;
  }
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003450}}
  .field-field-wg-icon {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003465}}
.field-field-banner-heading-1, .field-field-banner-heading-2 {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003468}}
#block-kyanite-kyanite-system-main #block-simplesocialiconsblock {
  padding-top: 0;
  padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003471}}
#block-kyanite-kyanite-system-main #block-simplesocialiconsblock ul.soc {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003475}}
ul.soc li {
  margin-bottom: 0 !important;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003479}}
.newsdate {
  color: #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003482}}
.field-item-label {
  font-weight: bold;
  margin-right: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003486}}
.yj-share-copy {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003489}}
.field-field-flip-card-title {
  display: none;
}

@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003492}}
  .align-right {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003495}}
  .align-right.contactusmap img {
    width: 100% !important;
    height: auto !important;
  }
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003492}}
  .align-right {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003507}}
a.kyanite-viewall {
  color: #999;
  text-decoration: none;
  border: 1px solid #999;
}
@media (max-width: 699px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003507}}
  a.kyanite-viewall {
    padding: .25em;
    font-size: .8em;
  }
}
@media (min-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003507}}
  a.kyanite-viewall {
    padding: .5em 2em;
    font-size: 1em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003520}}
.viewallheader {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003528}}
a.tabledrag-handle .handle {
  width: auto;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003532}}
.align-center figcaption {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003535}}
.align-center img {
  text-align: center;
  margin: auto;
  display: block;
  width: 100%;
}

/*img.importedfromwordpress{
  float: left;
}*/
@media (max-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003544}}
  .align-left, .align-right, .alignleft, img[data-align="left"], img[data-align=" left"], img[align="left"], img[align=" left"], img[style="float:left"], img[style="float: left"], .alignright, img[data-align="right"], img[data-align=" right"], img[align="right"], img[align=" right"], img[style="float:right"], img[style="float: right"] {
    float: none !important;
    display: block;
    margin: 1em auto;
    text-align: center;
  }
}

@media (min-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003552}}
  .testimonialportrait, .page-node-type-person .field-field-headshot, img[admin_label="Image"],
  .align-left, .alignleft, img[data-align="left"], img[data-align=" left"], img[align="left"], img[align=" left"], img[style="float:left"], img[style="float: left"] {
    max-width: 40%;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003562}}
.align-right, .alignright, img[data-align="right"], img[data-align=" right"], img[align="right"], img[align=" right"], img[style="float:right"], img[style="float: right"] {
  margin-bottom: 2em;
}
@media (min-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003562}}
  .align-right, .alignright, img[data-align="right"], img[data-align=" right"], img[align="right"], img[align=" right"], img[style="float:right"], img[style="float: right"] {
    max-width: 40%;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    float: right;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003572}}
img.align-center, img.aligncenter, img[align="center"] {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003575}}
#cboxTitle {
  position: absolute;
  bottom: 25px !important;
  background: rgba(255, 255, 255, 0.8);
  color: #000 !important;
  padding: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003582}}
.field-field-featured-image-url {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003585}}
.flex-direction-nav a {
  height: 60px;
}

@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003588}}
  .et-pb-blurb {
    width: 33%;
  }
}

@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003593}}
  .et-pb-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003598}}
  .et-pb-row > .et-pb-column_1_3 {
    width: 30%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003601}}
  .et-pb-row > .et-pb-column_1_3 .et-pb-blurb {
    width: 100%;
  }
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003606}}
  .et-pb-row > .et-pb-column_1_4 {
    width: 22%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003609}}
  .et-pb-row > .et-pb-column_1_4 .et-pb-blurb {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003614}}
.et-pb-row > .et-pb-pb_column_1_7 {
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003616}}
.et-pb-row > .et-pb-pb_column_1_7 .et-pb-blurb {
  width: 100%;
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003623}}
  .et-pb-row > .et-pb-column_1_3 .et-pb-blurb, .et-pb-row .et-pb-column_1_4 .et-pb-blurb, .et-pb-row .et-pb-pb_column_1_7 .et-pb-blurb {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003628}}
.et-pb-row > .et-pb-column_1_3 h2.et-pb-slide_title, .et-pb-row .et-pb-column_1_4 h2.et-pb-slide_title, .et-pb-row .et-pb-pb_column_1_7 h2.et-pb-slide_title {
  background: rgba(255, 255, 255, 0.7);
  padding: 2em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003628}}
  .et-pb-row > .et-pb-column_1_3 h2.et-pb-slide_title, .et-pb-row .et-pb-column_1_4 h2.et-pb-slide_title, .et-pb-row .et-pb-pb_column_1_7 h2.et-pb-slide_title {
    display: block;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003637}}
.et-pb-row > .et-pb-column_1_3 h2.et-pb-slide_title a, .et-pb-row .et-pb-column_1_4 h2.et-pb-slide_title a, .et-pb-row .et-pb-pb_column_1_7 h2.et-pb-slide_title a {
  color: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003644}}
.et-pb-button_0, .button, .more-link > a {
  color: #fff !important;
  background: #069;
  border: none;
  letter-spacing: 0px;
  font-size: 16px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;
  position: relative;
  border: 2px solid;
  border-radius: 3px;
  transition: all 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003659}}
.more-link > a {
  display: inline-block !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003662}}
.field-field-this-is-a-link-to-an-image, .field-field-show-captions-under-the-th, .spcgrid.relatedcontent .views-field-title, .paragraph--bp-accordion--container .btn.btn-primary.bp-accordion--button, .paragraphfeaturedcontent .views-field-title, .spcgrid.updates .views-field-title, .spcgrid.resources .views-field-title {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003665}}
#block-views-block-bottom-content-block-1, #block-categories {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003668}}
#block-views-block-bottom-content-block-1 {
  padding-top: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003671}}
.js .js-hide {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  left: -10000px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003680}}
.blog-date-city {
  text-align: center;
  padding: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003685}}
.zoomin {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  left: 0;
  top: 0;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003700}}
.zoomin:hover {
  opacity: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003703}}
.zoomin span.plus-zoom {
  font-size: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  /* vertical-align: middle; */
  padding: 0;
  margin: 0;
  /* height: 100%; */
  background-color: #069;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -.75em;
  margin-left: -.6em;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003722}}
.colorbox.inline-spc-images {
  display: block;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003726}}
.featuredimagefromurl {
  margin-bottom: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003729}}
.node-preview-container {
  background-color: #000;
  color: #ccc;
  text-align: center;
  z-index: 40000;
  /*  .node-preview-backlink{
      margin-right: 1em;
    }*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003734}}
.node-preview-container a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003740}}
.node-preview-container .form-item-view-mode {
  margin-left: 1em;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003745}}
.element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding-left: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/base\/_elements\.scss}line{font-family:\00003752}}
.tableizer-table td {
  padding: .25em;
}

/* Layout ------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cvoogt\/_repos\/spc-redesign\/web\/themes\/custom\/kyanite\/sass\/screen\.scss}line{font-family:\000037}}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*@include susy-grid-background;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/Library\/lib\/ruby\/gems\/2\.3\.0\/gems\/susy-2\.2\.14\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
